.contendorinformacion{
    
    width: 100%; 
    background-color: rgba(0, 0, 0, 0.726);
  

}

.containText{
    padding: 10px 0px 10px ;
    width: 100%;
    height: 100%;
    display: block;
    text-align: center;
    overflow-y: scroll;
    scroll-behavior: unset;
    text-transform: capitalize;
    
}