.App{
    height: 1000px;
    padding-top: 10%;
    background-image: url('./imganes/FONDOPGINAROBOT.S.C_.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: antiquewhite; 
<<<<<<< HEAD
    text-align: center;   
}
.contendorinformacion{
    padding: 30px 0px;
    height: 300px;
    display: grid;
    grid-template-columns: 40% 60%;
    font-size: 100%;
=======
   
   
>>>>>>> refs/remotes/origin/master
}

.contendorinformacion{
    text-align: center;
    margin: 0;
}
.nav-link{
   
    color: aliceblue;
}

<<<<<<< HEAD
.contactos{
    width: 100%;
    background-color: black;

    padding: 20px 400px;
}
.containerfotos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
}
=======
.piePagina{
    height: 200px;
    padding-top: 100px;
    text-align: start;
    color: red !important;
}

@media only screen and (max-width: 600px) {
    .contendorinformacion {
      font-size: 9px ;
    }
  }
    
>>>>>>> refs/remotes/origin/master
