.App{
    height: 800px;
    padding-top: 300px;
    background-image: url('./imganes/FONDOPGINAROBOT.S.C_.png');
    background-size: 100%;
    color: antiquewhite; 
    text-align: center;   
}
.contendorinformacion{
    padding: 30px 0px;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 70%;
    font-size: 100%;
}

.nav-link{
    font-size: 130%;
    color: aliceblue;
}

.contactos{
    width: 100%;
    background-color: black;
    margin: 10px 0px;
    padding: 20px 400px;
}
.containerfotos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 300px ;
}